@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@using (Html.BeginForm("Index", "Flights", FormMethod.Get))
{
    <table>
        <tr>
            <td>
                @Html.TextBox("searchValue", null, new { Class ="form-control", placeholder="Enter flight No"})
            </td>
            <td>
                <input type="datetime" id="deptime" name="deptime" class="form-control" aria-required="true"  />
            </td>
            <td>
                <input type="datetime" id="arrtime" name="arrtime" class="form-control" aria-required="true"  />
            </td>
            <td>
                <input type="submit"  value="Search" class="btn btn-success"/>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
}
