@inject SignInManager<IdentityUser> signInManager
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="Add">Add</a>
    </li>
    @*    @if(signInManager.IsSignedIn(User) && User.IsInRole("BusinessManager"))
    { *@
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="Details">DetailsFlight</a>
    </li>
    @*  } *@
    @*    @if(signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
    { *@
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admini" asp-action="ListRoles">Add Role</a>
    </li>
    @*  } *@


</ul>
