@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="nuxt-content">
    <p>
        We have updated our privacy policy as per new General Data Protection Regulation (GDPR).We have also made sure to incorporate other major online privacy regulations to ensure customer privacy. It governs the privacy terms of our Website, located at <span class="font-medium">
            flightgorilla.com
        </span>, sub-domains, and any associated web-based and mobile applications (collectively, <span class="font-medium">
            Flight
        </span>), as owned and operated by <span class="font-medium">
            Flight Gorilla
        </span>. Any capitalized terms not defined in our Privacy Policy, have the meaning as specified in our Terms of Service. We respect the privacy of our users. The protection of the personal data of our users is our top priority and responsibility. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of your personal information.
    </p>
    <p><strong>WHAT DATA WE COLLECT FROM YOU</strong></p>
    <p>We only receive email address and first name of the user, that too if provided by the user with explicit consent. We do not collect any other data other than the aforementioned ones. We collect the personal data through two means i.e. by manual and automatic means.</p>
    <p><strong>Manual collection includes:</strong></p>
    <ul>
        <li>
            <p>Email</p>
        </li>
        <li>
            <p>First Name</p>
        </li>
    </ul>
    <p><strong>Automatic collection includes:</strong></p>
    <p>When you use our Website, we automatically collect certain computer information by the interaction of your mobile phone or web browser with our Website. Such information is typically considered Non Personal Information. We also collect the following:</p>
    <p><strong>Cookies</strong></p>
    <p>Our Website uses "Cookies" to identify the areas of our Website that you have visited. A Cookie is a small piece of data stored on your computer or mobile device by your web browser. We use Cookies to personalize the Content that you see on our Website. Most web browsers can be set to disable the use of Cookies. However, if you disable Cookies, you may not be able to access functionality on our Website correctly or at all. We never place Personally Identifiable Information in Cookies.</p>
    <p><strong>Geographical Information</strong></p>
    <p>When you use the mobile application, we may use GPS technology (or other similar technology) to determine your current location in order to determine the city you are located within and display information with relevant data or advertisements. We will not share your current location with other users or partners. If you do not want us to use your location for the purposes set forth above, you should turn off the location services for the mobile application located in your account settings or in your mobile phone settings and/or within the mobile application.</p>
    <p><strong>Automatic Information</strong></p>
    <p>We automatically receive information from your web browser or mobile device. This information includes the name of the website from which you entered our Website, if any, as well as the name of the website to which you're headed when you leave our website. This information also includes the IP address of your computer/proxy server that you use to access the Internet, your Internet Website provider name, web browser type, type of mobile device, and computer operating system. We use all of this information to analyze trends among our Users to help improve our Website.</p>
    <p><strong>Log Data</strong></p>
    <p>Like many Website operators, we collect information that your browser sends whenever you visit our Website ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, and the pages of our Website that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
    <p><strong>HOW WE COLLECT AND PROCESS THIS DATA</strong></p>
    <p>We collect (Email and first name) from the users by their own will. We do not force or shape their decisions. Users provide their information with us only when their want to, with their expressed consent i.e. by subscribing to our newsletter, sending us any query through contact form or by clicking the “send to messenger” option. We process your data (Email address and name) by sending it to the ESP (our email service provider) – an external email service we are using, which as per our knowledge is also GDPR compliant, please refer to their privacy policy for more details.</p>
    <p><strong>WHY WE USE THIS INFORMATION</strong></p>
    <p>We use your Personal Information only for providing and improving the Site. We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.</p>
    <p><strong>Consumer Engagement</strong></p>
    <p>we use your emails to send you newsletters with deals, discounts or price alerts or for contacting you (user) through Facebook messenger with similar offers. Please note that you can opt-out from receiving emails from us by simply clicking on the unsubscribe button at the footer of on any of our emails or by simply contacting us through a contact form. Please note, that users can also unsubscribe from receiving messages from our Facebook messenger by directly sending us a message on our Facebook Messenger, saying “I want to unsubscribe or I do not want to receive any messages here on Facebook Messenger”. Furthermore, users have the option to unsubscribe at any time as per their will. We will respect the decision of our users and will not send any message without their prior consent.</p>
    <p><strong>Monitoring of user activity</strong></p>
    <p>The response of users (customers) are also processed with a purpose to monitor overall engagement of the user on this site and report if something unusual happens. In most cases, spam users allocate bots to configure encrypted data from the site, to stop such activities that may harm the site of data of other users, a continuous evaluation of automatic data (such as IP Address and search history) is monitored. It helps us identify whether the user is a natural person or an unidentified spammer or fake bot.</p>
    <p><strong>Customizing Our Website</strong></p>
    <p>
        We may use the Personally Identifiable information you provide to us along with any computer information we receive to customize our Website. Also, we store information like (<span class="font-medium">
            Flight
        </span> search - origin, destination, dates etc.) through cookies, however you reserve the right to opt-out or uncheck any cookie that you do not want to use. Please note that it may affect the results of travel fair, <span class="font-medium">
            Flight
        </span> schedule etc. for you.
    </p>
    <p><strong>Sharing Information with Affiliates and Other Third Parties</strong></p>
    <p>We do not sell, rent, or otherwise provide your Personally Identifiable Information to third parties for marketing purposes. We may provide your Personally Identifiable Information to affiliates that provide services to us with regards to our Website (i.e. payment processors, Website hosting companies, etc.); such affiliates will only receive information necessary to provide the respective services and will be bound by confidentiality agreements limiting the use of such information. Please note this only applies on US customers, – if the consent is given with the prechecked checkbox, they’ll be getting email deals from another company. This does not apply directly on EU citizens, they can uncheck the box if they do not want us to share their information to any third-party, they reserve the right as per GDPR.</p>
    <p><strong>Data Aggregation</strong></p>
    <p>
        We retain the right to collect and use any Non Personal Information collected from your use of our Website and aggregate such data for internal analytics that improve our Website and Service as well as for use or resale to others. At no time is your Personally Identifiable Information included in such data aggregations. Legally Required Releases of Information We may be legally required to disclose your Personally Identifiable Information, if such disclosure is (a) required by subpoena, law, or other legal process; (b) necessary to assist law enforcement officials or government enforcement agencies; (c) necessary to investigate violations of or otherwise enforce our Legal Terms; (d) necessary to protect us from legal action or claims from third parties including you and/or other Members; and/or (e) necessary to protect the legal rights, personal/real property, or personal safety of <span class="font-medium">
            Flight Gorilla
        </span>, our Users, employees, and affiliates.
    </p>
    <p><strong>Legally Required Releases of Information</strong></p>
    <p>
        We may be legally required to disclose your Personally Identifiable Information, if such disclosure is (a) required by subpoena, law, or other legal process; (b) necessary to assist law enforcement officials or government enforcement agencies; (c) necessary to investigate violations of or otherwise enforce our Legal Terms; (d) necessary to protect us from legal action or claims from third parties including you and/or other Members; and/or (e) necessary to protect the legal rights, personal/real property, or personal safety of <span class="font-medium">
            Flight Gorilla
        </span>, our Users, employees, and affiliates.
    </p>
    <p><strong>YOUR CONSENT AND ACCEPTANCE OF THIS POLICY</strong></p>
    <p>
        By using the Site, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at <span class="font-medium">
            flightgorilla.com
        </span>. The following outlines our privacy policy.
    </p>
    <ul>
        <li>We will only retain personal information as long as necessary for the fulfillment of those purposes.</li>
        <li>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</li>
        <li>We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</li>
        <li>We will make readily available to customers information about our policies and practices relating to the management of personal information.</li>
        <li>The rights of the EU users as per General Data Protection Regulation</li>
    </ul>
    <p><strong>YOUR PRIVACY</strong></p>
    <span class="font-medium">
        Flight Gorilla
    </span>
    follows all legal requirements to protect your privacy. Our Privacy Policy is a legal statement that explains how we may collect information from you, how we may share your information, and how you can limit our sharing of your information. We utilize the Personal Data you offer in a way that is consistent with this Personal privacy Policy. If you provide Personal Data for a particular reason, we could make use of the Personal Data in connection with the reason for which it was provided. For example, registration info sent when developing your account, might be used to assist suggest products to you based on past acquisitions. We might use your Personal Data to offer access to services on the Website and monitor your use of such services.
    <span class="font-medium">
        Flight Gorilla
    </span>
    may also utilize your Personal Data and various other personally non-identifiable info gathered through the Website to assist us improve the material and functionality of the Website, to much better comprehend our users, and to improve our services.
    <p><strong>IMPORTANT TERMINOLOGIES AS PER GDPR</strong></p>
    <p>Before moving forward, it is important to understand the meaning of important terminologies under General Data Protection Regulation (GDPR).</p>
    <p><strong>Consent –</strong> it is a freely given, specific, informed and explicit consent by statement or action signifying agreement to the processing of their personal data by a user “data subject”</p>
    <p><strong>Data Subject –</strong> it refers to any natural person whose personal data is processed by a data controller or data processor.</p>
    <p><strong>Data Controller -</strong> The entity or person that determines the purposes, conditions and means of the processing of personal data of the data subject.</p>
    <p><strong>Data processor –</strong> The entity/company/individual that processes data on behalf of the Data Controller.</p>
    <p><strong>Personal Data -</strong> Any information related to a natural person or ‘Data Subject’ that can be used to directly or indirectly identify the person.</p>
    <p><strong>EMAIL/REGISTRATION/SUBSCRIPTION OPT-OUT</strong></p>
    <p>
        We offer you the chance to "opt-out" of having your personally identifiable information used for particular functions, when we ask you for this detail. When you register for the Site, if you do not want to receive any additional material or notifications from us, you can show your preference on our registration/Subscription form or notify us through email by sending an email to <a href="contact@flightgorilla.com" class="text-primary">
            contact@flightgorilla.com
        </a>
    </p>
    <p><strong>LINKS TO OTHER WEBSITES</strong></p>
    <p>Our Website may contain links to other websites that are not under our direct control. These websites may have their own policies regarding privacy. We have no control of or responsibility for linked websites and provide these links solely for the convenience and information of our visitors. You access such linked Websites at your own risk. These websites are not subject to this Privacy Policy. You should check the privacy policies, if any, of those individual websites to see how the operators of those third-party websites will utilize your personal information. In addition, these websites may contain a link to Websites of our affiliates. The websites of our affiliates are not subject to this Privacy Policy, and you should check their individual privacy policies to see how the operators of such websites will utilize your personal information.</p>
    <p>We offer personalized shopping experiences and advertising through Intent Media, which uses online identifiers to identify visitors. To view Intent Media’s privacy policy, <a href="http://intentmedia.com/privacy-policy/" rel="nofollow noopener noreferrer" target="_blank">click here.</a></p>
    <p>If you want to opt out from Intent Media services, you can click here.</p>
    <p><strong>SECURITY</strong></p>
    <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security. We utilize practical protection measures to safeguard against the loss, abuse, and modification of the individual Data under our control. Personal Data is kept in a secured database and always sent out by means of an encrypted SSL method when supported by your web browser. No Web or e-mail transmission is ever totally protected or mistake cost-free. For example, email sent out to or from the Website may not be protected. You must take unique care in deciding what info you send to us by means of e-mail.</p>
    <p><strong>EU USERS RIGHTS UNDER GDPR</strong></p>
    <p>Users have numerous rights under GDPR which they can claim for different purposes. For the convenience of our users we have jotted down the rights below:</p>
    <ul>
        <li>The right to be informed (Individuals have the right to be informed about the collection and use of their personal data)</li>
        <li>The right of access (Individuals have the right to access their personal data and supplementary information)</li>
        <li>The right to rectification (An individual can make a request for rectification verbally or in writing)</li>
        <li>The right to erasure or right to be forgotten (Individuals can make a request for erasure verbally or in writing)</li>
        <li>The right to restrict processing(Individuals have the right to request the restriction or suppression of their personal data)</li>
        <li>The right to object (users can object for the; processing based on legitimate interests or the performance of a task in the public interest/exercise of official authority (including profiling), direct marketing (including profiling) and processing for purposes of scientific/historical research and statistics)</li>
    </ul>
    <p><strong>DATA BREACH</strong></p>
    <p>We haven’t faced any data breach ever however we will report any unlawful data breach of this website’s database to all the relevant individuals and authorities within the prescribed time period 72, only if it is obvious that personal information or data stored in an identifiable manner has been stolen or breached.</p>
    <p><strong>RETENTION PERIOD</strong></p>
    <p>
        Retention period refers to the time period for which we keep your data stored on your servers. <span class="font-medium">
            Flight Gorilla
        </span> removes all the data of users “data subject” upon user’s choice of opting-out or inactiveness from the user for more than 5 years. Furthermore, if you (user) wants us to remove their data from our website and servers because they do not wish to use our services anymore they can always contact us with their concerns at <a href="contact@flightgorilla.com" class="text-primary">
            contact@flightgorilla.com
        </a> and we will make sure to take care of any query or concern requested by the user.
    </p>
    <p><strong>CHILDREN’S PRIVACY</strong></p>
    <p>
        Under the Child's Online Privacy Security Act, no Website operator can require, as a condition to involvement in an activity, that a child younger than 13 years of age divulge more details than is reasonably required. <span class="font-medium">
            Flight Gorilla
        </span> abides by this demand. <span class="font-medium">
            Flight Gorilla
        </span> just collects information willingly offered; no information is gathered passively. Children under 13 can submit only their email address when sending us an email in our "Contact Us" area. <span class="font-medium">
            Flight Gorilla
        </span> makes use of the e-mail address to respond to a one-time demand from a child under 13 and afterwards deletes the e-mail address. In case <span class="font-medium">
            Flight Gorilla
        </span> collects and maintains personal information relating to a child under 13, the parent may send out an email to us to review, alter and/or erase such info as well as to decline to enable any additional collection or use of the child's information.
    </p>
    <p><strong>PRIVACY POLICY UPDATES</strong></p>
    <p>We reserve the right to modify this Privacy Policy at any time. You should review this Privacy Policy frequently. If we make material changes to this policy, we may notify you on our Website, by a blog post, by email, or by any method we determine. The method we chose is at our sole discretion. We will also change the "Last Updated" date at the beginning of this Privacy Policy. Any changes we make to our Privacy Policy are effective as of this Last Updated date and replace any prior Privacy Policies.</p>
    <p><strong>QUESTIONS ABOUT OUR PRIVACY PRACTICES OR THIS PRIVACY POLICY</strong></p>
    <p>We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. If you have any questions about our Privacy Practices or this Policy, please contact us at:</p>
    <p>
        <strong>Email:</strong> <a href="contact@flightgorilla.com" class="text-primary">
            contact@flightgorilla.com
        </a>
    </p>
</div>
